*{
    margin: 0;
    padding: 0; 
}
body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.main-header-area{
    min-height: 100px;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.logo{
    float: left;
    margin-top: 30px;
}
.logo> a{}
.nav{
    float: right;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #484c55;
    padding: 40px 20px;
    display: block;
    transition: 0.3s;
    position: relative;
}
.nav ul li a::before {
  background-color: #49cbcd;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 0;
  opacity: 0;
}

.nav ul li a:hover{
    background-color: #F8F9FB;
    color: #49cbcd;
}
.nav ul li a:hover:before{
    opacity: 1;
    width: 100%;
}
.{}